.container{
    display: relative;
    margin-top: 20px;
}
.containerLog{
    margin: auto;
    width: 500px;
    background-color: #C9B6E4;
    height: 450px;
    border-radius: 20px;
}

.containerLog button {
  margin-left: 40%;
  margin-top: 30%;
  background: #E1CCEC;
  border-radius: 999px;
  box-shadow: #E1CCEC 0 10px 20px -10px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.border{
    text-align: center;
    padding-top: 10px;
    background-color: #E1CCEC;
    width: 100%;
    height: 40px;
    border-radius: 20px 20px 0 0;
}


.inputLogin{
    top: 20px;
    justify-content: space-between;
    border-radius: 15px;
    padding: 9px 25px;
    background-color: #E1CCEC;
    border:2px solid #E1CCEC;
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
    display: block;
    margin-bottom: 30px;
    left:5%;
    height: 2em;
    position: relative;
}

.inputLogin:focus{
    outline: none;
}

